/.github
/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject
/robots.txt
/pub/robots.txt
/sitemap
/sitemap.xml
/pub/sitemap
/pub/sitemap.xml
/.idea
/.gitattributes
/app/config_sandbox
/app/etc/env.php
/lib/*
/node_modules
/.grunt
/Gruntfile.js
/package.json
/.php_cs
/.php_cs.cache
/grunt-config.json
/dev/*
/pub/*
/var/*
/vendor/*
/generated/*
.DS_Store
.htaccess
.htaccess.sample
.php_cs.dist
.travis.yml
.user.ini
CHANGELOG.md
COPYING.txt
Gruntfile.js.sample
LICENSE.txt
LICENSE_AFL.txt
auth.json.sample
bin/*
composer.lock
grunt-config.json.sample
index.php
package.json.sample
php.ini.sample
phpserver/*
setup/*
update/*
nginx.conf.sample
error.log
app/etc/config.php
SECURITY.md
.travis.yml.sample